*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.background{
	 height: 100vh;
  width: 100%;
	background: url("IMG_20220122_090350.png") ;
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	width: 72%;
	margin: auto;
	padding: 20px 0;
	align-items: center;
	justify-content: space-between;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #E0115F;
    font-weight: bold;       
}
nav ul li a:hover{
	color: red;
}
.text{
	margin-left: 8%;
	margin-top: 15%;
}
.text-one{
  font-size: 20px;
  color: #AA336A;
  }
.text-two{
  color: #C21E56;
  font-size: 65px;
  font-weight: 600;
  margin-left: -3px;
}
.text-three{
  font-size: 30px;
  margin: 5px 0;
  color: #F33A6A;
}
.text-four{
  font-size: 20px;
  margin: 5px 0;
  color:#AA336A;
}
.text a{
	background:#F33A6A ;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	display: inline-block;
	margin: 30px 0;
	border-radius: 5px;
}
.text a:hover{
	color: #F33A6A;
	background-color: white;
}


